# Virtual Environment
venv/

# Python Cache
__pycache__/
*.py[cod]

# Environment Variables
.env

# Logs
logs/
*.log

# IDE
.vscode/
.idea/

# OS Files
.DS_Store
Thumbs.db

# Artifacts
artifacts/*
!artifacts/.gitkeep